.playlistDur{
	position: absolute;
	right: 15px;
	bottom: 10px;
}

.polymer{
	position: unset;
	left: 15px;
	font-size: 12px;
	padding-bottom: 10px;
}

.playlistDur span{
	color: #767676;
	margin-left: 5px;
}

.playlistDur img{
	width: 16px;
	height: 16px;
}
.playlistDur img.playlistDur_load{
	animation-name: circle;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
@keyframes circle{
	0%{transform: rotate(0deg)}
	100%{transform: rotate(360deg)}
}
.playlistDur img,
.playlistDur span{
	display: inline-block;
	vertical-align: middle;
}
