.playlistDur{
	position: unset;
	right: 15px;
	bottom: 10px;
	left: 15px;
	font-size: 12px;
	padding-bottom: 10px;
}


.playlistDur span,
.playlistDur label{
	color: #767676;
	margin-left: 5px;
}

.playlistDur img{
	width: 16px;
	height: 16px;
}

.playlistDur img,
.playlistDur span{
	display: inline-block;
	vertical-align: middle;
}

.playlistDur input{
    margin: -3px 1px 0px 2px;
	vertical-align: middle;
}